doctype html
html(lang='en')
    head
        #{title}
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css', integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO', crossorigin='anonymous')
        link(href='https://bootswatch.com/4/flatly/bootstrap.min.css', rel='stylesheet', integrity='sha384-+YpxMU1QQywaQtI3dMQAwIcu0vVDuOREjQPC59qblQHg9nTdcrUXMPnanUaldUnY', crossorigin='anonymous')
        link(rel='stylesheet', href='../css/index.css')
        link(rel='stylesheet', href='//code.jquery.com/ui/1.12.1/theincident/base/jquery-ui.css')
        script(src='https://code.jquery.com/jquery-1.12.4.js')
        script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
            script(src='https://code.jquery.com/jquery-3.3.1.js')
                script(type='text/javascript', src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
        <style type ="text/css">
        include ../../css/index.css
        </style>
    body
        script(src='js/script.js')
        nav.navbar.navbar-expand-lg.navbar-dark(ng-controller='HeaderController')
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarTogglerDemo03', aria-controls='navbarTogglerDemo03', aria-expanded='false', aria-label='Toggle navigation', style='')
                span.navbar-toggler-icon
            a.navbar-brand(href='/protected') Silencer
            a(href='/protected')
                img.img-fluid(src='../assets/profesor.png', height='30', width='30')
            #navbarTogglerDemo03.collapse.navbar-collapse
                ul.navbar-nav.mr-auto.mt-2.mt-lg-0
                    li.nav-item.active
                        a.nav-link(href='/')
                            | Home
                            span.sr-only (current)
                    li.nav-item
                        a.nav-link(href='/incidents')
                            | Data
        .container-fluid
        h1.
        Incident ID #{incident._id}
    form(action='/incidents/#{incident._id}/edit',method='post',name='updateincident',enctype='application/x-www-form-urlencoded')
        p Date: 
            input#inputDate(type='date', value='div incident.date', name='date')
        p State: 
            input#inputState(type='text', value='#{incident.state}', name='state')
        p City/County: 
            input#inputCityCounty(type='text', value='#{incident.citycounty}', name='citycounty')
        p _Address: 
            input#inputAddress(type='text', value='#{incident.address}', name='address')
        p # of people killed: 
            input#inputKilled(type='text', value='#{incident.n_killed}', name='n_killed')
        p # of people injured: 
            input#inputInjured(type='text', value='#{incident.n_injured}', name='n_injured')
        p Incident-Source: 
            input#inputincident_url(type='text', value='#{incident.incident_url}', name='incident_url')
        p Data-Source: 
            input#inputsource_url(type='text', value='#{incident.source_url}', name='source_url')
        p congressional_district: 
            input#inputcongressional_district(type='text', value='#{incident.congressional_district}', name='congressional_district')
        p gun_type: 
            input#inputgun_type(type='text', value='#{incident.gun_type}', name='gun_type')
        p incident_characteristics: 
            input#inputincident_characteristics(type='text', value='#{incident.incident_characteristics}', name='incident_characteristics')
        p latitude: 
            input#inputlatitude(type='text', value='#{incident.latitude}', name='latitude')
        p location_description: 
            input#inputlocation_description(type='text', value='#{incident.location_description}', name='location_description')
        p logitude: 
            input#inputlogitude(type='text', value='#{incident.logitude}', name='logitude')
        p n_guns_involved: 
            input#inputlogitude(type='text', value='#{incident.logitude}', name='logitude')
        p notes: 
            input#inputnotes(type='text', value='#{incident.notes}', name='notes')
        p participant_age: 
            input#inputparticipant_age(type='text', value='#{incident.participant_age}', name='participant_age') 
        p 
            input(type='hidden',value='PUT',name='_method')
        p 
            button#btnSubmit(type='submit').
                Update